{% extends "base.twig" %}
{% block content %}
	<h2>Latest posts</h2>
	{% for post in posts %}
		<article>
			<img width="300" src="{{post.thumbnail}}" alt="">
			<p>
				<a href="{{post.link}}">{{post.title}}</a>
			</p>
		</article>
	{% endfor %}

{% endblock %}