{% extends "base.twig" %}
		{% block content %}
			<i>published on
				{{ post.post_date|date('F j Y') }}
			</i>
			<h1>{{ post.post_title }}</h1>
			<article>{{ post.post_content|raw }}</article>
		{% endblock %}